@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #041c32;
  overflow-x: hidden;
}

/* Smooth Fade Animation */
.fade-animation {
  transition: opacity 1s ease-in-out;
}
