@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #041c32;
  overflow-x: hidden;
}

/* Smooth Fade Animation */
.fade-animation {
  transition: opacity 1s ease-in-out;
}
